/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
/* line 5, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
#header-audio {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  font-family: Arial;
  color: black;
}

/* line 19, ../sass/screen.scss */
#myAudioHolder {
  border: 5px black;
  margin-left: 515px;
  padding: 10px;
  width: 300px;
  height: 62px;
  background-color: gray;
}

/* line 28, ../sass/screen.scss */
#demo-div {
  border: 5px black;
  padding: 15px;
  margin-left: 450px;
  background-color: gray;
  width: 450px;
  height: 250px;
}
/* line 36, ../sass/screen.scss */
#demo-div .fb-feeds {
  padding: 10px;
  margin: auto;
  background-color: #e0e0e0;
}
/* line 40, ../sass/screen.scss */
#demo-div .fb-feeds .from {
  border: 1px black;
}

@media screen and (max-width: 1366px) {
  /* line 52, ../sass/screen.scss */
  #icon_menu {
    background-color: gray;
    box-shadow: white;
    height: 85px;
  }
  /* line 56, ../sass/screen.scss */
  #icon_menu .mobile_menu {
    padding-top: 15px;
    margin-left: 20px;
    width: 8%;
    margin-top: -30px;
  }
  /* line 63, ../sass/screen.scss */
  #icon_menu .mobile_menu .div_menu {
    height: 10px;
    background-color: white;
    margin-bottom: 12px;
  }
  /* line 70, ../sass/screen.scss */
  #icon_menu .list-menu {
    border-top: 1px white;
    position: absolute;
    z-index: 1;
    box-shadow: 6px 7px 22px #888888;
    background-color: gray;
    height: 400px;
    width: 365px;
  }
  /* line 78, ../sass/screen.scss */
  #icon_menu .list-menu li {
    margin-bottom: 20px;
  }
  /* line 80, ../sass/screen.scss */
  #icon_menu .list-menu li a {
    background-color: gray;
    font: 60px 'PT Sans', sans-serif;
    color: white;
    z-index: 4;
    margin-left: 25px;
    text-decoration: none;
  }
}
/* line 96, ../sass/screen.scss */
div .input-search {
  display: none;
}
@media screen and (max-width: 1366px) {
  /* line 96, ../sass/screen.scss */
  div .input-search {
    display: block;
    height: 47px;
    width: 395px;
    border: solid white;
    position: absolute;
    right: 20px;
    top: 16px;
    background: gray;
    border-radius: 15px;
    font-size: 25px;
    color: white;
  }
}

@media screen and (max-width: 1366px) {
  /* line 113, ../sass/screen.scss */
  .search-icon {
    height: 53px;
    width: 55px;
    position: relative;
    left: 755px;
    top: -65px;
  }
}

/*footer SASS variables*/
/* line 140, ../sass/screen.scss */
body {
  display: block;
  margin-top: 30px;
}
/* line 144, ../sass/screen.scss */
body p#paraBold {
  margin: auto;
  text-align: center;
  font: bold 35px 'PT Sans', sans-serif;
  width: 70%;
}
@media screen and (max-width: 1366px) {
  /* line 144, ../sass/screen.scss */
  body p#paraBold {
    font: bold 37px 'PT Sans', sans-serif;
    margin-top: 20px;
    text-align: left;
    z-index: -1;
  }
}
/* line 156, ../sass/screen.scss */
body p#paraRegular {
  margin: auto;
  text-align: center;
  font: 25px 'PT Sans', sans-serif;
  width: 70%;
  padding: 15px 0 50px 0;
}
@media screen and (max-width: 1366px) {
  /* line 156, ../sass/screen.scss */
  body p#paraRegular {
    font: 27px 'PT Sans', sans-serif;
    text-align: left;
  }
}

/* line 169, ../sass/screen.scss */
#header_bg {
  text-align: center;
  background: #ffffff url("../../images/header_bg.fw.png") repeat-x right top;
}
@media screen and (max-width: 1366px) {
  /* line 169, ../sass/screen.scss */
  #header_bg {
    margin-top: 20px;
  }
}

/* line 176, ../sass/screen.scss */
#logo_bg {
  background-color: #ffffff;
  padding: 0px 20px 0px 20px;
}

/* line 180, ../sass/screen.scss */
.clearfix {
  overflow: auto;
  clear: both;
}
@media screen and (max-width: 1366px) {
  /* line 180, ../sass/screen.scss */
  .clearfix {
    display: none;
  }
}

/* line 188, ../sass/screen.scss */
nav#nav1 {
  margin: 30px auto;
  border: 3px solid #0c6c43;
  width: 80%;
  text-align: center;
}
@media screen and (max-width: 1366px) {
  /* line 188, ../sass/screen.scss */
  nav#nav1 {
    display: none;
  }
}
/* line 198, ../sass/screen.scss */
nav#nav1 ul li {
  display: inline-block;
}
/* line 200, ../sass/screen.scss */
nav#nav1 ul li:hover {
  background: url("../../images/link_hover.png") no-repeat center bottom;
}
/* line 204, ../sass/screen.scss */
nav#nav1 ul li a {
  text-decoration: none;
  color: #0c6c43;
  font: 30px 'PT Sans', sans-serif;
  display: block;
  padding: 20px 60px 20px 60px;
}
/* line 215, ../sass/screen.scss */
nav#nav2 {
  display: inline-block;
  font: 30px 'PT Sans', sans-serif;
  text-align: left;
  color: white;
  left: 0;
  padding: 30px 5% 30px 5%;
}
/* line 217, ../sass/screen.scss */
nav#nav2 ul {
  padding-top: 20px;
}
/* line 221, ../sass/screen.scss */
nav#nav2 ul li.li2 {
  text-align: left;
  font-size: 25px;
  list-style: none;
  color: white;
}
/* line 224, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2 {
  color: white;
  text-decoration: none;
}
/* line 227, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2:visited {
  color: white;
}
/* line 230, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2:hover {
  text-shadow: 2px 2px 10px #ffffff;
}
/* line 233, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2:active {
  color: white;
}
/* line 242, ../sass/screen.scss */
nav#nav3 {
  display: inline-block;
  font: 30px 'PT Sans', sans-serif;
  text-align: left;
  color: white;
  left: 0;
  padding: 30px 5% 30px 5%;
}
/* line 244, ../sass/screen.scss */
nav#nav3 ul {
  padding-top: 20px;
}
/* line 247, ../sass/screen.scss */
nav#nav3 ul li.li2 {
  text-align: left;
  font-size: 25px;
  list-style: none;
  color: white;
}
/* line 250, ../sass/screen.scss */
nav#nav3 ul li.li2 a.link_nav2 {
  color: white;
  text-decoration: none;
}
/* line 253, ../sass/screen.scss */
nav#nav3 ul li.li2 a.link_nav2:visited {
  color: white;
}
/* line 256, ../sass/screen.scss */
nav#nav3 ul li.li2 a.link_nav2:hover {
  text-shadow: 2px 2px 10px #ffffff;
}
/* line 259, ../sass/screen.scss */
nav#nav3 ul li.li2 a.link_nav2:active {
  color: white;
}
/* line 268, ../sass/screen.scss */
nav#nav4 {
  display: inline-block;
  font: 30px 'PT Sans', sans-serif;
  text-align: left;
  color: white;
  left: 0;
  padding: 30px 5% 30px 5%;
}
/* line 270, ../sass/screen.scss */
nav#nav4 ul {
  padding-top: 20px;
}
/* line 273, ../sass/screen.scss */
nav#nav4 ul li.li2 {
  text-align: left;
  font-size: 25px;
  list-style: none;
  color: white;
}
/* line 276, ../sass/screen.scss */
nav#nav4 ul li.li2 a.link_nav2 {
  color: white;
  text-decoration: none;
}
/* line 279, ../sass/screen.scss */
nav#nav4 ul li.li2 a.link_nav2:visited {
  color: white;
}
/* line 282, ../sass/screen.scss */
nav#nav4 ul li.li2 a.link_nav2:hover {
  text-shadow: 2px 2px 10px #ffffff;
}
/* line 285, ../sass/screen.scss */
nav#nav4 ul li.li2 a.link_nav2:active {
  color: white;
}
/* line 294, ../sass/screen.scss */
nav#nav5 {
  display: inline-block;
  font: 30px 'PT Sans', sans-serif;
  text-align: left;
  color: white;
  left: 0;
  padding: 30px 5% 30px 5%;
}
/* line 296, ../sass/screen.scss */
nav#nav5 ul {
  padding-top: 20px;
}
/* line 299, ../sass/screen.scss */
nav#nav5 ul li.li2 {
  text-align: left;
  font-size: 25px;
  list-style: none;
  color: white;
}
/* line 302, ../sass/screen.scss */
nav#nav5 ul li.li2 a.link_nav2 {
  color: white;
  text-decoration: none;
}
/* line 305, ../sass/screen.scss */
nav#nav5 ul li.li2 a.link_nav2:visited {
  color: white;
}
/* line 308, ../sass/screen.scss */
nav#nav5 ul li.li2 a.link_nav2:hover {
  text-shadow: 2px 2px 10px #ffffff;
}
/* line 311, ../sass/screen.scss */
nav#nav5 ul li.li2 a.link_nav2:active {
  color: white;
}

/* line 323, ../sass/screen.scss */
section#sec1 {
  width: 540px;
  margin: auto;
  background-color: #ffffff;
}
/* line 328, ../sass/screen.scss */
section img {
  float: left;
  margin: -210px 0 0 -190px;
}
@media screen and (max-width: 1366px) {
  /* line 328, ../sass/screen.scss */
  section img {
    margin-left: 357px;
    margin-top: -89px;
  }
}

/* line 338, ../sass/screen.scss */
article {
  margin-bottom: 20px;
  font: bold 30px 'PT Sans', sans-serif;
  color: #ff0005;
}
@media screen and (max-width: 1366px) {
  /* line 338, ../sass/screen.scss */
  article {
    margin-left: -1px;
    font-size: 40px;
  }
}

/* line 348, ../sass/screen.scss */
.textarea-field {
  height: 50px;
  width: 60%;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
}
@media screen and (max-width: 1366px) {
  /* line 348, ../sass/screen.scss */
  .textarea-field {
    margin-right: 222px;
  }
}

/* line 359, ../sass/screen.scss */
.textarea-field-month {
  height: 30px;
  width: 23%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin: 5px;
}
@media screen and (max-width: 1366px) {
  /* line 359, ../sass/screen.scss */
  .textarea-field-month {
    display: none;
  }
}

/* line 372, ../sass/screen.scss */
.textarea-field-day {
  height: 30px;
  width: 16%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin: 5px;
}
@media screen and (max-width: 1366px) {
  /* line 372, ../sass/screen.scss */
  .textarea-field-day {
    display: none;
  }
}

/* line 385, ../sass/screen.scss */
.textarea-field-year {
  height: 30px;
  width: 16%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin: -5px 5px -5px 5px;
}
@media screen and (max-width: 1366px) {
  /* line 385, ../sass/screen.scss */
  .textarea-field-year {
    display: none;
  }
}

/* line 398, ../sass/screen.scss */
.select {
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 1366px) {
  /* line 398, ../sass/screen.scss */
  .select {
    display: none;
  }
}

/* line 406, ../sass/screen.scss */
.select select {
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: #e6e6e6;
}
@media screen and (max-width: 1366px) {
  /* line 406, ../sass/screen.scss */
  .select select {
    display: none;
  }
}

/* line 419, ../sass/screen.scss */
.select__arrow {
  position: absolute;
  width: 0;
  height: 20px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: #ff5100 transparent transparent transparent;
}
@media screen and (max-width: 1366px) {
  /* line 419, ../sass/screen.scss */
  .select__arrow {
    display: none;
  }
}

/* line 432, ../sass/screen.scss */
#sec1 {
  font: 30px 'PT Sans', sans-serif;
  margin: auto;
  padding: auto;
  width: auto;
}

/* line 440, ../sass/screen.scss */
div#sp2 {
  width: 300px;
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 1366px) {
  /* line 440, ../sass/screen.scss */
  div#sp2 {
    margin-left: 130px;
    font: 25px 'PT Sans', sans-serif;
    text-align: left;
    width: 520px;
    margin-top: -37px;
  }
}
/* line 453, ../sass/screen.scss */
div#form-style-2 {
  font: 20px 'PT Sans', sans-serif;
  margin: auto;
  max-width: 500px;
  padding: 20px 12px 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px 0px 20px 1px #5c5c5c;
}
@media screen and (max-width: 1366px) {
  /* line 453, ../sass/screen.scss */
  div#form-style-2 {
    box-shadow: none;
    margin-left: -165px;
  }
}
/* line 467, ../sass/screen.scss */
div#form-style-2 label.labelDown {
  display: block;
  margin: 0px 0px 15px 0px;
}
/* line 471, ../sass/screen.scss */
div#form-style-2 label.labelSide {
  display: inline;
  margin: 0px 0px 15px 0px;
}
/* line 475, ../sass/screen.scss */
div#form-style-2 label.paraSmall {
  margin-left: 50px;
  text-align: left;
  display: block;
  font: 15px 'PT Sans', sans-serif;
}
/* line 481, ../sass/screen.scss */
div#form-style-2 label span {
  width: 150px;
  display: inline-block;
  padding-right: 5px;
  text-align: right;
}
@media screen and (max-width: 1366px) {
  /* line 481, ../sass/screen.scss */
  div#form-style-2 label span {
    margin-left: 48px;
  }
}
/* line 489, ../sass/screen.scss */
div#form-style-2 label span#sp1 {
  width: 110px;
  display: inline-block;
  text-align: right;
}
@media screen and (max-width: 1366px) {
  /* line 489, ../sass/screen.scss */
  div#form-style-2 label span#sp1 {
    margin-left: -47px;
  }
}
/* line 497, ../sass/screen.scss */
div#form-style-2 label span#sp3 {
  width: 110px;
  display: inline-block;
  text-align: right;
}
/* line 502, ../sass/screen.scss */
div#form-style-2 label span#sp4 {
  width: 150px;
  display: inline;
  text-align: left;
}
/* line 507, ../sass/screen.scss */
div#form-style-2 label span#sp4 {
  width: 150px;
  display: inline;
  text-align: left;
}
/* line 512, ../sass/screen.scss */
div#form-style-2 label span#arrYear {
  width: 0;
  height: 0;
  padding: 0;
  top: 16px;
  right: 32px;
}
@media screen and (max-width: 1366px) {
  /* line 512, ../sass/screen.scss */
  div#form-style-2 label span#arrYear {
    display: none;
  }
}
/* line 522, ../sass/screen.scss */
div#form-style-2 label span#arrMonth {
  width: 0;
  height: 0;
  padding: 0;
  top: 16px;
  right: 127px;
}
@media screen and (max-width: 1366px) {
  /* line 522, ../sass/screen.scss */
  div#form-style-2 label span#arrMonth {
    display: none;
  }
}
/* line 532, ../sass/screen.scss */
div#form-style-2 label span#arrDay {
  width: 0;
  height: 0;
  padding: 0;
  top: 16px;
  right: 223px;
}
@media screen and (max-width: 1366px) {
  /* line 532, ../sass/screen.scss */
  div#form-style-2 label span#arrDay {
    display: none;
  }
}
/* line 542, ../sass/screen.scss */
div#form-style-2 label span#spGender {
  width: 150px;
  display: inline-block;
  text-align: right;
}
@media screen and (max-width: 1366px) {
  /* line 542, ../sass/screen.scss */
  div#form-style-2 label span#spGender {
    margin-left: 58px;
  }
}
/* line 550, ../sass/screen.scss */
div#form-style-2 label span#control-group {
  width: 300px;
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 1366px) {
  /* line 550, ../sass/screen.scss */
  div#form-style-2 label span#control-group {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1366px) {
  /* line 558, ../sass/screen.scss */
  div#form-style-2 label span#moNo {
    margin-left: 128px;
  }
}
@media screen and (max-width: 1366px) {
  /* line 563, ../sass/screen.scss */
  div#form-style-2 label span#DOB {
    display: none;
  }
}
@media screen and (max-width: 1366px) {
  /* line 568, ../sass/screen.scss */
  div#form-style-2 label span#name {
    margin-left: 48px;
  }
}
@media screen and (max-width: 1366px) {
  /* line 573, ../sass/screen.scss */
  div#form-style-2 label span#email {
    margin-left: 48px;
  }
}
/* line 579, ../sass/screen.scss */
div#form-style-2 label input {
  display: inline;
  margin: 5px 10px;
  width: 60%;
}
@media screen and (max-width: 1366px) {
  /* line 579, ../sass/screen.scss */
  div#form-style-2 label input {
    width: 80%;
    margin-left: 148px;
  }
}
/* line 590, ../sass/screen.scss */
div#form-style-2 input[type=checkbox] {
  width: 20%;
  height: 20px;
  background-color: #e0e0e0;
  border-color: transparent;
      /*@media screen and (max-width: 1366px) {
        margin-right: -23px;

      }*/
}
/* line 601, ../sass/screen.scss */
div#form-style-2 input[type=submit],
div#form-style-2 input[type=button] {
  background: #ef2b2f;
  width: 40%;
  height: 50px;
  float: right;
  border-radius: 5px;
  font: 25px 'PT Sans', sans-serif;
  color: white;
  margin-right: 33px;
  border-color: transparent;
}
@media screen and (max-width: 1366px) {
  /* line 601, ../sass/screen.scss */
  div#form-style-2 input[type=submit],
  div#form-style-2 input[type=button] {
    margin-right: 160px;
  }
}
/* line 616, ../sass/screen.scss */
div#form-style-2 input[type=submit]:hover,
div#form-style-2 input[type=button]:hover {
  background: #EA7B00;
  color: #fff;
}

/* line 624, ../sass/screen.scss */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}

/* line 632, ../sass/screen.scss */
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* line 637, ../sass/screen.scss */
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}

/* line 645, ../sass/screen.scss */
.control--radio .control__indicator {
  border-radius: 50%;
}

/* line 648, ../sass/screen.scss */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

/* line 652, ../sass/screen.scss */
.control input:checked ~ .control__indicator {
  background: #e0e0e0;
}

/* line 655, ../sass/screen.scss */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #e0e0e0;
}

/* line 659, ../sass/screen.scss */
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

/* line 664, ../sass/screen.scss */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* line 667, ../sass/screen.scss */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* line 670, ../sass/screen.scss */
.control--radio .control__indicator:after {
  left: 6px;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ff4f00;
}

/* line 678, ../sass/screen.scss */
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

/*!*footer SASS variables*!*/
/*!*footer SASS codes*!*/
/* line 700, ../sass/screen.scss */
footer {
  background-color: #006B41;
  margin: 130px auto 0 auto;
  text-align: center;
}
@media screen and (max-width: 1366px) {
  /* line 700, ../sass/screen.scss */
  footer {
    margin: 268px auto 0 auto;
  }
}

/*.has-error{
  border: solid 1px red!important;
 // @media screen and (max-width: 1366px){
    //margin-left: 130px!important;
  //}
}*/
/* line 715, ../sass/screen.scss */
.alert-danger {
  margin-left: 170px;
  color: red;
  font-size: 18px;
}
@media screen and (max-width: 1366px) {
  /* line 715, ../sass/screen.scss */
  .alert-danger {
    margin-left: 147px;
    color: red;
    font-size: 18px;
  }
}
