/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



#header-audio {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  font-family: Arial;
  color: black;

}

#myAudioHolder {
  border: 5px black;
  margin-left: 515px;
  padding: 10px;
  width: 300px;
  height: 62px;
  background-color: gray;
}

#demo-div {
  border: 5px black;
  padding: 15px;
  margin-left: 450px;
  background-color: gray;
  width: 450px;
  height: 250px;

  .fb-feeds{
    padding: 10px;
    margin: auto;
    background-color: #e0e0e0;
    .from{
      border: 1px black;




    }
  }

}
#icon_menu {
  display: none;
}
@media screen and (max-width: 1366px) {
#icon_menu {
  display: block!important;
  background-color: gray;
  box-shadow: white;
  height: 85px;

  .right-pane{
    float: right;
    margin-right: 20px;
    margin-top: -67px;
    img{
      float: right;
      margin: -56px 8px 0 0
    }
  }

    .mobile_menu {
      //margin-bottom: 20px;
      padding-top: 15px;
      //background-color: red;
      margin-left: 20px;
      width: 8%;
      margin-top: -30px;
      .div_menu {

        height: 10px;
        background-color: white;
        margin-bottom: 12px;
      }
    }
      .list-menu {
        border-top: 1px white;
        position: absolute;
        z-index: 1;
        box-shadow: 6px 7px 22px #888888;
        background-color: gray;
        height: 400px;
        width: 365px;
          li{
            &:hover{
              background-color: #bbbbbb;
            }
            margin-bottom: 20px;
                a{
                  &:hover{
                    background-color: #bbbbbb;
                  }
                 background-color:gray;
                  font: 60px 'PT Sans', sans-serif;
                  color: white;
                  z-index: 4;
                  margin-left: 25px;
                  text-decoration: none;
                }
            }
        }
  }
#footer_mobile {
  display: block!important;
    ul {
      li {
        padding-bottom: 16px;
        padding-top: 20px;
        &:hover {
          background-color: #015634;
          }
          .f-mobile {
          font: 35px 'PT Sans', sans-serif;
          color: white;
          text-decoration: none;
        }
      }
      .line {
        width: 343px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin: auto;
      }
      .line2 {
        width: 343px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin: auto;
      }
      .line3 {
        width: 343px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin: auto;
      }
      .f-list {
        display: none;
        margin-bottom: -17px;
        ul{
          background: #015634;
          border: solid 1px rgb(7, 118, 74);
          li{
            &:hover{
              background-color: #006b41;
            }
            a {
            text-decoration: none;
            color: white;
            font: 20px 'PT Sans', sans-serif;
            }
          }
        }
      }
  }
  }
}
.list-menu{
  @media only screen and (min-width: 1000px) {
    display: none!important;
  }
}
div {
  .input-search {
    display: none;
    @media screen and (max-width: 1366px) {
      display: block;
      height: 47px;
      width: 395px;
      border: solid white;
      background: gray;
      border-radius: 15px;
      font-size: 25px;
      color: white;
    }
  }
}
#footer_mobile {
  display: none;
}
.search-icon {
  //display: block;
  @media screen and (max-width: 1366px) {
  height: 53px;
  width: 55px;
  }
}
/*footer SASS variables*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@mixin nav2_def{
  display: inline-block;
  font: 30px 'PT Sans', sans-serif;
  text-align: left;
  color: white;
  left: 0;
  padding: 30px 5% 30px 5%;
}
@mixin nav2_line{
  text-align: left;
  font-size: 25px;
  list-style: none;
  color: white;
}

body {
  display: block;
  margin-top: 30px;
  p{
    &#paraBold {
      margin: auto;
      text-align: center;
      font: bold 35px 'PT Sans', sans-serif;
      width: 70%;
      @media screen and (max-width: 1366px) {
        font: bold 37px 'PT Sans', sans-serif;
        margin-top: 20px;
        text-align: left;
        z-index: -1;
      }
    }
    &#paraRegular {
      margin: auto;
      text-align: center;
      font: 25px 'PT Sans', sans-serif;
      width: 70%;
      padding: 15px 0 50px 0;
      @media screen and (max-width: 1366px) {
        font: 27px 'PT Sans', sans-serif;
        text-align: left;
      }
    }
  }
}
#header_bg {
  text-align: center;
  background: #ffffff url("../../images/header_bg.fw.png") repeat-x right top;
  @media screen and (max-width: 1366px){
    margin-top: 20px;
  }
}
#logo_bg {
  background-color: #ffffff;
  padding: 0px 20px 0px 20px;
}
.clearfix {
  overflow: auto;
  clear: both;
  @media screen and (max-width: 1366px){
    display: none;
  }
}
nav{
  &#nav1 {
    margin: 30px auto;
    border: 3px solid rgb(12, 108, 67);
    width: 80%;
    text-align: center;
    @media screen and (max-width: 1366px){
      display: none;
    }

    ul{
      li{
        display:inline-block;
        &:hover{
          background: url("../../images/link_hover.png") no-repeat center bottom;

        }
        a {
          text-decoration: none;
          color: rgb(12, 108, 67);
          font: 30px 'PT Sans', sans-serif;
          display: block;
          padding: 20px 60px 20px 60px;
          }
        }

    }
  }
  &#nav2 {
    @media screen and (max-width: 1366px){
      display: none;
    }
    @include nav2_def;
    ul {
      padding-top: 20px;

      li {
        &.li2 {
          @include nav2_line;
          a {
            &.link_nav2 {
              color: white;
              text-decoration: none;
              &:visited {
                color: white;
              }
              &:hover {
                text-shadow: 2px 2px 10px #ffffff;
              }
              &:active {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  &#nav3 {
    @media screen and (max-width: 1366px){
      display: none;
    }
    @include nav2_def;
    ul {
      padding-top: 20px;
      li {
        &.li2 {
          @include nav2_line;
          a {
            &.link_nav2 {
              color: white;
              text-decoration: none;
              &:visited {
                color: white;
              }
              &:hover {
                text-shadow: 2px 2px 10px #ffffff;
              }
              &:active {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  &#nav4 {
    @media screen and (max-width: 1366px){
      display: none;
    }
    @include nav2_def;
    ul {
      padding-top: 20px;
      li {
        &.li2 {
          @include nav2_line;
          a {
            &.link_nav2 {
              color: white;
              text-decoration: none;
              &:visited {
                color: white;
              }
              &:hover {
                text-shadow: 2px 2px 10px #ffffff;
              }
              &:active {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  &#nav5 {
    @media screen and (max-width: 1366px){
      display: none;
    }
    @include nav2_def;
    ul {
      padding-top: 20px;
      li {
        &.li2 {
          @include nav2_line;
          a {
            &.link_nav2 {
              color: white;
              text-decoration: none;
              &:visited {
                color: white;
              }
              &:hover {
                text-shadow: 2px 2px 10px #ffffff;
              }
              &:active {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

section {
  &#sec1 {
    width: 540px;
    margin: auto;
    background-color: #ffffff;
  }
  img {
    float: left;
    margin: -210px 0 0 -190px;
    @media screen and(max-width: 1366px) {
      margin-left: 357px;
      margin-top: -89px;

    }
  }
}
article{
  margin-bottom: 20px;
  font: bold 30px 'PT Sans', sans-serif;
  color: #ff0005;
  @media screen and (max-width: 1366px) {
    margin-left: -1px;
    font-size: 40px;
  }
}

.textarea-field{
  height: 50px;
  width: 60%;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  @media screen and (max-width: 1366px){
    margin-right: 222px;
  }
}

.textarea-field-month{
  height: 30px;
  width: 23%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin:5px;
  @media screen and (max-width: 1366px){
    display: none;
  }
}

.textarea-field-day{
  height: 30px;
  width: 16%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin:5px;
  @media screen and (max-width: 1366px){
    display: none;
  }
}

.textarea-field-year{
  height: 30px;
  width: 16%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin: -5px 5px -5px 5px;
  @media screen and (max-width: 1366px){
    display: none;
  }
}

.select {
  position: relative;
  display: inline-block;
  @media screen and (max-width: 1366px){
    display: none;
  }
}

.select select {
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: #e6e6e6;
  @media screen and (max-width: 1366px){
    display: none;
  }
}

.select__arrow {
  position: absolute;
  width: 0;
  height: 20px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: #ff5100 transparent transparent transparent;
  @media screen and (max-width: 1366px){
    display: none;
  }
}

#sec1{
  font: 30px 'PT Sans', sans-serif;
  margin: auto;
  padding: auto;
  width: auto;
}

div {
  &#sp2 {
    width: 300px;
    display: inline-block;
    text-align: left;
    @media screen and (max-width: 1366px){
      margin-left: 130px;
      font: 25px 'PT Sans', sans-serif;
      text-align: left;
      width: 520px;
      margin-top: -37px;
    }
  }

  &#form-style-2 {
    font: 20px 'PT Sans', sans-serif;
    margin: auto;
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px 0px 20px 1px #5c5c5c;
    @media screen and (max-width: 1366px){
      box-shadow: none;
      margin-left: -165px;
    }
    label {
      &.labelDown {
        display: block;
        margin: 0px 0px 15px 0px;
      }
      &.labelSide {
        display: inline;
        margin: 0px 0px 15px 0px;
      }
      &.paraSmall {
        margin-left: 50px;
        text-align: left;
        display: block;
        font: 15px 'PT Sans', sans-serif;
      }
      span {
        width: 150px;
        display: inline-block;
        padding-right: 5px;
        text-align: right;
        @media screen and (max-width: 1366px){
          margin-left: 48px;
        }
        &#sp1 {
          width: 110px;
          display: inline-block;
          text-align: right;
          @media screen and (max-width: 1366px){
            margin-left: -47px;
          }
        }
        &#sp3 {
          width: 110px;
          display: inline-block;
          text-align: right;
        }
        &#sp4 {
          width: 150px;
          display: inline;
          text-align: left;
        }
        &#sp4 {
          width: 150px;
          display: inline;
          text-align: left;
        }
        &#arrYear {
          width: 0;
          height: 0;
          padding: 0;
          top: 16px;
          right: 32px;
          @media screen and (max-width: 1366px){
            display: none;
          }
        }
        &#arrMonth {
          width: 0;
          height: 0;
          padding: 0;
          top: 16px;
          right: 127px;
          @media screen and (max-width: 1366px){
            display: none;
          }
        }
        &#arrDay {
          width: 0;
          height: 0;
          padding: 0;
          top: 16px;
          right: 223px;
          @media screen and (max-width: 1366px){
            display: none;
          }
        }
        &#spGender {
          width: 150px;
          display: inline-block;
          text-align: right;
          @media screen and (max-width: 1366px){
            margin-left: 58px;
          }
        }
        &#control-group {
          width: 300px;
          display: inline-block;
          text-align: left;
          @media screen and (max-width: 1366px){
            margin-left: 150px;
          }
        }
        &#moNo{
          @media screen and (max-width: 1366px){
            margin-left: 128px;
          }
        }
        &#DOB{
          @media screen and (max-width: 1366px){
            display: none;
          }
        }
        &#name{
          @media screen and (max-width: 1366px){
            margin-left: 48px;
          }
        }
        &#email{
          @media screen and (max-width: 1366px){
            margin-left: 48px;
          }
        }
      }
      input {
        display: inline;
        margin: 5px 10px;
        width: 60%;
        @media screen and (max-width: 1366px){
          width: 80%;
          margin-left: 148px;

        }
      }
    }
    input[type=checkbox]{
      width: 20%;
      height: 20px;
      background-color: #e0e0e0;
      border-color: transparent;
      /*@media screen and (max-width: 1366px) {
        margin-right: -23px;

      }*/
    }

    input[type=submit],
    input[type=button] {
      background: #ef2b2f;
      width: 40%;
      height: 50px;
      float: right;
      border-radius: 5px;
      font: 25px 'PT Sans', sans-serif;
      color: white;
      margin-right: 33px;
      border-color: transparent;
      @media screen and (max-width: 1366px){
        margin-right: 160px;
      }
    }
    input[type=submit]:hover,
    input[type=button]:hover {
      background: #EA7B00;
      color: #fff;
    }
  }
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #e0e0e0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #e0e0e0;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 6px;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ff4f00;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
/*!*footer SASS variables*!*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@mixin nav2_def{
  display: inline-block;
  font-size: 25px;
  text-align: left;
  color: white;
  padding: 30px 0% 30px 5%;
  margin-left: 75px;
}
@mixin nav2_line{
  text-align: left;
  font-size: 20px;
  list-style: none;
  line-height: 25px;
  color: white;
}

/*!*footer SASS codes*!*/
footer {
  background-color: #006B41;
  margin: 130px auto 0 auto;
  text-align: center;
  @media screen and (max-width: 1366px){
    margin: 268px auto 0 auto;
  }
}

/*.has-error{
  border: solid 1px red!important;
 // @media screen and (max-width: 1366px){
    //margin-left: 130px!important;
  //}
}*/
.alert-danger {
  margin-left: 170px;
  color: red;
  font-size: 18px;
  @media screen and (max-width: 1366px){
    margin-left: 147px;
    color: red;
    font-size: 18px;
  }
}

